*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Yeseva One, Nunito Sans;
}

@font-face {
     font-family: Yeseva One;
     src: url(fonts/YesevaOne-Regular.ttf);
}
@font-face{
     font-family: Nunito Sans;
     src: url(fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
body{
     background: #131313;
}
.width{
     max-width: 1171px;
     margin: 0 auto;
}
.slider {
     margin-top: 107px;
     min-height: 110vh;
}
.slider__section--titles {
     display: flex;
     justify-content: end;
     margin-right: 56px;
     margin-bottom: 53px;
}
.slider__title {
     color: rgba(255, 255, 255, 0.30);
     font-family: Yeseva One;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 138.6%; /* 19.404px */
     text-transform: uppercase;
     margin-left: 60px;
     cursor: pointer;
     transition: .2s ease-in-out;
}
.slider__title:hover{
     color: #e3b873be;
     transition: .2s ease-in-out;
}
.slider__title-active{
     position: relative;
     color: #E3B873;
     font-family: Yeseva One;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 138.6%; /* 19.404px */
     text-transform: uppercase;
}
.slider__title-active::before{
     position: absolute;
     content: " ";
     width: 100%;
     height: 1px;
     bottom: -6px;
     background: #E3B873;
}
.slider__content {
     display: flex;
     justify-content: space-between;
     height: 486px;
}
@keyframes show {
     from{
          opacity: 0.5;
          transform: scale(0.99);
          filter: blur(1px);
     }
     70%{
          transform: scale(1);
          opacity: 0.8;
          filter: blur(0px);

     }
     to{
          opacity: 1;

     }
     
}
.slider__text, .slider__image{
     animation: show 1s ease-in-out;
}
 .slider__title, .slider__indicator {
     opacity: 0.5;
     transition: opacity 0.3s ease-in-out;
 }
 
 .slider__title-active, .slider__indicator--active {
     opacity: 1;
 }
 
.slider__text {
     max-width: 442px;
}
.slider__heading {
     position: relative;
     color: #E3B873;
     font-family: Yeseva One;
     font-size: 27px;
     font-style: normal;
     font-weight: 400;
     line-height: 138.6%; /* 37.422px */
     letter-spacing: -1.89px;
     text-transform: uppercase;
     margin-bottom: 34px;
}
.slider__heading::after {
     content: " ";
     position: absolute;
     width: 92px;
     height: 2px;
     bottom: 25%;
     margin-left: 33px;
     color: #E3B873;
     background: #E3B873;
}
.slider__paragraph{
     color: #FFF;
     font-family: Nunito Sans;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 190.96%; /* 26.734px */
     margin-bottom: 42px;
}
.slider__details {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     max-width: 403px;
}
.slider__detail {
     text-align: left;
     min-width: 50%;
     margin-bottom: 34px;
}
.slider__detail--h3{
     color: #E3B873;
     font-family: Yeseva One;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 138.6%; /* 24.948px */
     text-transform: uppercase;
     margin-bottom: 9px;
}
.slider__detail--p{
     color: #FFF;
     font-family: Nunito Sans;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 163.68%; /* 21.278px */

}
.slider__section--navigation {
     position: relative;
     display: flex;
     margin-top: -19px;
     z-index: 10;
}
.slider__button {
     background: none;
     border: 0;
     cursor: pointer;
}
.slider__indicators {
     display: flex;
     margin: 0 29px;
}
.slider__indicator {
     background-color: #333;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     margin: 0 9px;
     cursor: pointer;
}
.slider__indicator--active {
     background-color: #bbb;
}